.btn {
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary {
    color: white;
    background-color: #6495ed;
}

.btn--primary:hover {
    background-color: #4682b4;
}

.btn--danger {
    color: white;
    background-color: #dc143c;
}

.btn--danger:hover {
    background-color: #d73b3e;
}